@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.loader_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdd7ff;
  z-index: 30;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.yellowText {
  @apply text-[#FFC845];
}

.purpleText {
  @apply text-[#4540E1];
}

.headingTitle {
  @apply font-bold text-4xl;
}

.img {
  @apply w-40 h-40 rounded-full bg-purple-600;
}
